@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <h3>Hello World from MVC</h3>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
