@{
  ViewBag.Title = "Home Page";
}
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="~/site.css" rel="stylesheet" />
</head>
<body>
  <h3>@ViewBag.Title</h3>
</body>
<script src="~/lib/jQuery/dist/jquery.min.js"></script>
</html>