@{
  ViewBag.Title = "Home Page";
}
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <h3>Hello World</h3>
  <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>