<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="~/site.css" rel="stylesheet" />
  <environment names="Development">

  </environment>
</head>
<body>
  <h3>@ViewBag.Title</h3>
</body>
</html>