<html>
<head>
  <title>@ViewBag.Title</title>
</head>
<body>
  <h3>@ViewBag.Title</h3>
  <link href="~/css/site.css" rel="stylesheet" />
</body>
<environment names="Development">
  <script></script>
</environment>
</html>