<html>
<head>
  <environment names="Development,Testing">
    <link href="~/css/site.css" rel="stylesheet" />
  </environment>
  <environment names="Production">
    <link href="~/css/site.min.css" rel="stylesheet" />
  </environment>
</head>
<body>
  <h1>Hello World</h1>
  <script src="~/lib/underscore/underscore-min.js"></script>
</body>
</html>