@{
  ViewBag.Title = "Hello Detroit";
}
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="~/site.css" rel="stylesheet" />
</head>
<body>
  <h3>Hello World: @ViewBag.Title</h3>
</body>
</html>